<html>
    <head>
        
    </head>
    <body>
        <h1> <%= @question.question %> </h1>
        <img src="<%= @question.flag %>">
        <h1> <%= @question.answer %></h1>
        <a href="/random">Next</a>
    </body>
</html>