<style>
    .main-wrapper {
        order: 0px solid black;
        border-radius: 10px;
        padding: 20px;
        width: 400px;
        height: auto;
        background-color: #DCD0C0;
        margin: 10% auto;
        box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.4);
        text-align: center;
    }
    
    .add_btn {
        width: 100%;
        background-color: red;
        border-color: none;
        color: white;
        font-size: 21px;
        font-weight: bold;
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0px 0px 0px;
    }
    
    .add_btn:hover {
        background-color: blue;
    }
    
    .input {
        display: inline;
        height: 35px;
        width: 180px;
        border-radius: 5px;
        margin: 5px;
        border: none;
        padding: 10px;
    }
    
    .input::placeholder {
        color: black;
        opacity: 1;
        padding: 10px;
    }
    
</style>




<div class="main-wrapper">
    
    <form action="/contacts" method="POST">
        <input class="input" type="text" name="first_name" placeholder="First Name">
        
        <input class="input" type="text" name="last_name" placeholder="Last Name">
        
        <input class="input" type="text" name="phone" placeholder="Phone Number">
        
        <input class="input" type="text" name="email" placeholder="Email">
        
        <input class="input" type="text" name="address" placeholder="Address">
        
        <input class="input" type="text" name="city" placeholder="City">
        
        <input class="input" type="text" name="state" placeholder="State">
        
        <input class="input" type="text" name="zip" placeholder="Zip Code">
    
    <div class="btn_container">
    
        <input class="add_btn" type="submit" value="Add to my Contacts">
    
    </div>
    
    </form>
    

</div>