<form action="/students" method="POST">
    
    <input type="text" name="first_name" placeholder="First Name">
    
    <input type="text" name="last_name" placeholder="Last Name">
    
    <input type="text" name="picture" placeholder="Picture">
    
    <select name="course_id">
        
        <% @courses.each do |course|
        
            <option value="<%= course.id %>"><%= course.name %></option>
        
        <% end %>
        
    </select>
    
    <input type="submit" value="Save">

</form>