<form action="/courses" method="POST">
    <div>
        <input type="text" name="name" placeholder="Name">
        
        <input type="text" name="location" placeholder="Location">
        
        <textarea name="description"></textarea>
        
        <input type="submit" value="Save">
    </div>
<form>